<!DOCTYPE html>
<html lang="en">
{% extends "hf_template.html" %}
{%load static%}
{% block content %}
<script src={%static "js/gfem_java.js" %}>
</script>
<body>
<div id="input-form" class="m-3">
    {% csrf_token %}
    <form method="post" id="parameters-form">
          <p>Выберите эксель файл с данными для которых нужно создать id и карту</p>
            <input name="upload" type="file" required>
         <hr>
        <p>Задайте оффсет для id</p>
        <input name="id_offset" type="number" step="1" onchange="this.value = parseInt(this.value);">

        <hr>
            <div class="d-grid gap-8 ">
              <input type="submit" class="btn btn-primary btn-block ms-5 me-5 mb-4" value="Создать" >
            </div>
    </form>
</div>

 <div class="card opacity-100 border-white">
     <div class="card-header">
        <h3 class="text-center">Результаты Запроса</h3>
     </div>
     <div class="container" style="width:500;height:500" id="load-to-file">
    </div>
 </div>
</div>

<script src={%static "js/jquery.min.js" %}></script>
 <script>
    $('#parameters-form').submit(function(e){
        e.preventDefault();
        var formData = new FormData(this);
        $.ajax({
            type: 'POST',
            url: '{% url 'generator-ID' %}',
            data: formData,
            success: function (data) {
                      alert(data["messages"]);
                      $("#load-to-file").load(data['load_to_file']);
                },
             error: function (data) {
                 alert(data.status + "\n" + data.responseJSON.error);
                 },
            cache: false,
            contentType: false,
            processData: false
        })
    });
    // end
   </script>

</body>
{% endblock %}
</html>