{% load static %}

<div class="card opacity-100 border-white mb-4"><p class="m-1">
После создания основного каркаса (задания нумерации stringer frame), следует собрать и занести информацию
             по узловым точкам. Помимо координат необходимо указать номер шпангоута, номер стрингер и сторону.</p></div>
<div class="card opacity-100 border-white">
    <div class="row row-cols-1 row-cols-sm-2 m-2">
        <div class="">
            <img src={% static "/img/node_menu.png" %} width=100%/>
        </div>
        <div class="">
            <ol>
        <li>Откройте меню "Внести данные"</li>
        <li>Выберите таблицу "Node"</li>
        <li>Задайте уникальные номер узла следую правилу <a href="#">Правило</a></li>
        <li>Укажите какому шпангоуту, стрингеру он принадлежит и с какой стороны находится</li>
        <li>Укажите номер используемой системы координат. Оставьте поле пустым для глобальной СК.</li>
        <li>Укажите координаты в выбранной системе координат</li>
        <li>Нажмите кнопку отправить, чтобы сохранить узел в БД</li>
        <li>Для пакетной загрузки узлов в БД, рекомендуется делать это через эксель. Нажмите чекбокс,
            скачайте шаблон для заполнения и следуйте инструкциям на листе Readme.</li>
    </ol>
        </div>
    </div>
</div>